.container {
  max-width: 1200px;
  margin: auto;
}

.back {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: fit-content;
  background-color: #befa00;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 50px 0;
  cursor: pointer;
}

.back p {
  margin-left: 10px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
